<% include head %>

<script type="text/javascript">
$.ajax({
  type: "GET",
  url: "https://api.mediatek.com/mcs/v2/devices/D3Na8QeZ/datachannels/Moisture_display1/datapoints",
  headers: { deviceKey: "aNa8oAnRsjLudKT9" },
  contentType: "application/json"
})
.done(function(data){
  console.log( "Sample of data:", data );
  console.log( "value:", data.dataChannels[0].dataPoints[0].values.value);
})
</script>

        <form id="sentToBack">
            <input type="text" name="Text"/> 
            <input type="button"  value="送出" onClick="Submit()"/>
        </form>

<div class="pure-g">
    <div class="pure-u-1" id="chart1"></div>
    <div class="pure-u-1" id="chart2"></div>
    <div class="pure-u-1" id="chart1"></div>
</div>

</body>


<script>
$(function() {
  console.log( "ready!" );
  var tckCount=0;
  var totalTck=5;
  function minSec(){
    var d =new Date();
    var min=d.getMinutes();
    min=(min<10)?('0'+min):min;

    var sec=d.getSeconds();
    sec=(sec<10)?("0"+sec):sec;

    return min+':'+sec;
  }
  function pseudo(){
    return Math.floor(Math.random()*100);
  }
  var chart = c3.generate({
     bindto: '#chart1',
     data: {
        columns: [
          ['time', minSec()],
          ['data2', pseudo()],
        ],
     },
    axis: {
        y: {
          max:500,min:0,
          padding:{top:10, bottom:10},
      },
    }
  });
  setInterval(function(){
    chart.flow({
      columns: [
        ['time', minSec()],
        ['data2', pseudo()],
      ],
      length:(tckCount<totalTck)?0:1,
      duration:500,
      done:function(){
        if(tckCount<totalTck)++tckCount;
      }
    })
  },2000);
});
</script>

<script>
$(function() {
  console.log( "ready!" );
  var chart = c3.generate({
     bindto: '#chart2',
     data: {
       columns: [
         ['data1', 30, 200, 100, 400, 150],
         ['data2', 5, 2, 1, 4, 1, 2]
       ]
     }
   });
});
</script>

<script>
$.ajax({
  type: "GET",
  url: "https://api.mediatek.com/mcs/v2/devices/D3Na8QeZ/datachannels/Hum_Display/datapoints",
  headers: { deviceKey: "aNa8oAnRsjLudKT9" },
  contentType: "application/json"
})
.done(function(data){
  var chart = c3.generate({
     bindto: '#chart2',
     data: {
       columns: [
         ['data1', data.dataChannels[0].dataPoints[0].values.value],
         ['data2', 5, 2, 1, 4, 1, 2]
       ]
     }
   });
})
</script>

<script>
$(function() {
  console.log( "ready!" );
  var chart = c3.generate({
     bindto: '#chart2',
     data: {
       columns: [
         ['data1', 30, 200, 100, 400, 150],
         ['data2', 5, 2, 1, 4, 1, 2]
       ]
     }
   });
});
</script>

</html>


