doctype html
html
  head
    title= title
    script(type='public/javascripts')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')
body
    h1 Jade - node template engine
    p Welcome to #{title}

iframe(width="280" height="300" scrolling="no" frameborder="0" src="https://mcs.mediatek.com/public/devices/D3Na8QeZ/datachannels/Moisture_display1?locale=zh-TW")