<% include head %>

<div class="banner">
    <h1 class="banner-head">
        Smart Irrigation
    </h1>
</div>

<div class="l-content">
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <iframe width="280" height="300" scrolling="no" frameborder="0" src="https://mcs.mediatek.com/public/devices/D3Na8QeZ/datachannels/Light_Display?locale=zh-TW"></iframe>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <iframe width="280" height="300" scrolling="no" frameborder="0" src="https://mcs.mediatek.com/public/devices/D3Na8QeZ/datachannels/Temp_Display?locale=zh-TW"></iframe>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <iframe width="280" height="300" scrolling="no" frameborder="0" src="https://mcs.mediatek.com/public/devices/D3Na8QeZ/datachannels/Hum_Display?locale=zh-TW"></iframe>
        </div>
    </div> <!-- end pricing-tables -->

    <div class="information pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">Motivation</h3>
                <p>
                    蔬菜來源不明，蔬菜常有農藥過量問題，而政府不明確之有機蔬菜認證制度，使消費者常花冤枉錢，卻未買到真正的有機蔬果。若自己種菜，則不會有農藥殘留，且現採現炒鮮美味，營養最多，方便新鮮。
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">Compare</h3>
                <p>
                    網站能夠分別顯示每次種植的資料，以利比較長得好的豆芽菜，與長不好的豆芽菜之間的環境有何差別，找出最適合豆芽菜生長的環境。之後更能記錄多種作物的生長紀錄，並搭配圖文說明栽種過程。
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">Social Network</h3>
                <p>
                    希望形成一群具有共同種植興趣或種植目標的成員，經由持續性分享、交流、相互激勵，提升彼此的知識、技能或態度，以協同探究的方式，使種植技能最大化的成長。
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">Share</h3>
                <p>
                    加入此社群的人員可發佈自己成功栽種的經驗(含以圖文敘述栽種的方法、培養過程中的感應器數據)，若有新手想自行種植蔬果，即可參照社群上的方法種植，如果成長狀況不如預期，則可比對感應器的資料是否與前人不符，進而調整栽種方法。
                </p>
            </div>
        </div>
    </div> <!-- end information -->
</div> <!-- end l-content -->

<div class="footer l-box">
    <p>
        <a href="#">Try now</a>.
    </p>
</div>




</body>
</html>
